  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Phonelist Number</strong></div>
    <div class="panel-body">
         <table>
        	<tr>
        		<td><strong>Contact Name </strong></td>
        		<td><strong>&nbsp;&nbsp; : &nbsp;&nbsp;</strong></td>
        		<td><%= @phone.name %></td>
        	</tr>
        	<tr>
        		<td><strong>Phone Number </strong></td>
        		<td><strong>&nbsp;&nbsp; : &nbsp;&nbsp;</strong></td>
        		<td><%= @phone.nomer %></td>
        	</tr>
        </table>
         <p></p>
         <br \>
        <table align="center" class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Contact name</th>
            <th>Phone number</th>
            <th colspan='3'>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @phone.phonelists.each_with_index do |phonelist, idx| %>
          <tr>
          	<td><%= idx+1 %>.</td>
          	<td><%= phonelist.namelist %></td>
          	<td><%= phonelist.nomerlist %></td>
          	<td><%= link_to 'edit', edit_phone_phonelist_path(phonelist.phone, phonelist), :class => 'btn btn-default btn-xs' %></td>
          	<td><%= link_to 'delete', [phonelist.phone, phonelist],
        				method: :delete,
        				data: { confirm: 'Are you sure' }, :class => 'btn btn-danger btn-xs' %></td>
          </tr>
          <% end %>

          </tbody>
        </table>

        <%= form_for([@phone, @phone.phonelists.build]) do |f| %>
        <div class="row">
        	<div class="col-xs-6 col-sm-4">
        	<%= f.label :contact_name_list %><br />
        	<%= f.text_field :namelist, :class => "form-control  input-sm", placeholder: 'Enter contact name list...' %>
        	</div>

        	<div class="col-xs-6 col-sm-4">
        	<%= f.label :phone_number_list %><br />
        	<%= f.text_field :nomerlist, :class => "form-control  input-sm", placeholder: 'Enter phone number list...' %>
        	</div>

        	<div class="col-xs-6 col-sm-4">
        	<br \>
            <button class="btn btn-primary btn-sm">add phonelist</button>
          	</div>
        </div>
        <% end %>

        <p></p>
        <br \>

        <ul class="pager">
          <li class="previous"><%= link_to '<< back', phones_path %></li>
        </ul>


      </div>
  </div>