<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Forgot your password?</strong></div>
  <div class="panel-body">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Enter your e-mail address...' %></div>

        <br \>
        <div>
          <button class="btn btn-primary btn-sm">Send me reset password instructions</button>
        </div>
      <% end %>

      <br \>
      <%= render "devise/shared/links" %>

  </div>
</div>