<!DOCTYPE html>
<html>
<head>
  <title>phonebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<div class="navbar navbar-default" role="navigation">
  <a class="navbar-brand"><strong>PHONEBOOK</strong></a>
  <div id="user_nav" class="navbar-text pull-right">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email %> |
        <%= link_to "Home", phones_path %> |
        <%= link_to "Account", accounts_path %> |
        <%= link_to "SignOut", destroy_user_session_path, :method => :delete %>
    <% else %>
        <%= link_to "SignUp", new_user_registration_path %> or <%= link_to "SignIn", new_user_session_path %>
    <% end %>
  </div>
</div>
<body>
<div class="container" style="max-width:650px;">
  <%= yield %>
</div>
</body>
</html>





